## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN','NAME'], axis=1)
application_df.head(5)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9','T13', 'T12', 'T2', 'T25','T14','T15','T29','T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1283        1
C5200        1
C2170        1
C2570        1
C4120        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C2400        6
C1720        6
C4100        6
C1600        5
C1257        5
C1260        3
C0           3
C2710        3
C1234        2
C3200        2
C1256        2
C1267        2
C1246        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications = application_df['CLASSIFICATION'].value_counts().loc[lambda x : x<1000].to_frame()
classifications.columns = ['count']
classifications = classifications.reset_index()
classifications_to_replace = classifications['index']

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
X_dummies = pd.get_dummies(application_df)
print(X_dummies.columns)

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3',
       'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8',
       'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
       'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_Other', 'USE_CASE_CommunityServ', 'USE_CASE_Heathcare',
       'USE_CASE_Other', 'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0',
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

In [10]:
# Split our preprocessed data into our features and target arrays
y = X_dummies['IS_SUCCESSFUL']
X = X_dummies.drop('IS_SUCCESSFUL', axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
X_train_scaled.shape

(25724, 43)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=3, activation="relu", input_dim=43))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=3, activation="tanh", input_dim=43))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 3)                 132
_________________________________________________________________
dense_1 (Dense)              (None, 3)                 12
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 4
=================================================================
Total params: 148
Trainable params: 148
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model with callback - Commented because it take a long time to complete

#mc = tf.keras.callbacks.ModelCheckpoint('weights{epoch:08d}.h5', 
#                                     save_weights_only=True, save_freq=5)

#fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100, callbacks=[mc])
############################################################################################

# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6159 - accuracy: 0.6682
Epoch 2/100
804/804 [==============================] - 1s 963us/step - loss: 0.5747 - accuracy: 0.7168
Epoch 3/100
804/804 [==============================] - 1s 905us/step - loss: 0.5647 - accuracy: 0.7224
Epoch 4/100
804/804 [==============================] - 1s 879us/step - loss: 0.5623 - accuracy: 0.7240
Epoch 5/100
804/804 [==============================] - 1s 900us/step - loss: 0.5612 - accuracy: 0.7234
Epoch 6/100
804/804 [==============================] - 1s 894us/step - loss: 0.5603 - accuracy: 0.7233
Epoch 7/100
804/804 [==============================] - 1s 922us/step - loss: 0.5596 - accuracy: 0.7252
Epoch 8/100
804/804 [==============================] - 1s 912us/step - loss: 0.5583 - accuracy: 0.7273
Epoch 9/100
804/804 [==============================] - 1s 907us/step - loss: 0.5578 - accuracy: 0.7282
Epoch 10/100
804/804 [==============================] - 1s 990us/step - loss: 0.5573 - accuracy: 0.7280
Epoch 11/100
804/804 [==============================] - 1s 990us/step - loss: 0.5570 - accuracy: 0.7286
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5567 - accuracy: 0.7287
Epoch 13/100
804/804 [==============================] - 1s 989us/step - loss: 0.5560 - accuracy: 0.7289
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5552 - accuracy: 0.7278
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5550 - accuracy: 0.7282
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5547 - accuracy: 0.7283
Epoch 17/100
804/804 [==============================] - 1s 924us/step - loss: 0.5546 - accuracy: 0.7289
Epoch 18/100
804/804 [==============================] - 1s 941us/step - loss: 0.5546 - accuracy: 0.7282
Epoch 19/100
804/804 [==============================] - 1s 936us/step - loss: 0.5543 - accuracy: 0.7285
Epoch 20/100
804/804 [==============================] - 1s 929us/step - loss: 0.5542 - accuracy: 0.7284
Epoch 21/100
804/804 [==============================] - 1s 919us/step - loss: 0.5540 - accuracy: 0.7290
Epoch 22/100
804/804 [==============================] - 1s 933us/step - loss: 0.5536 - accuracy: 0.7283
Epoch 23/100
804/804 [==============================] - 1s 955us/step - loss: 0.5537 - accuracy: 0.7286
Epoch 24/100
804/804 [==============================] - 1s 920us/step - loss: 0.5534 - accuracy: 0.7294
Epoch 25/100
804/804 [==============================] - 1s 933us/step - loss: 0.5532 - accuracy: 0.7290
Epoch 26/100
804/804 [==============================] - 1s 938us/step - loss: 0.5534 - accuracy: 0.7292
Epoch 27/100
804/804 [==============================] - 1s 963us/step - loss: 0.5532 - accuracy: 0.7288
Epoch 28/100
804/804 [==============================] - 1s 945us/step - loss: 0.5531 - accuracy: 0.7298
Epoch 29/100
804/804 [==============================] - 1s 943us/step - loss: 0.5533 - accuracy: 0.7296
Epoch 30/100
804/804 [==============================] - 1s 944us/step - loss: 0.5530 - accuracy: 0.7301
Epoch 31/100
804/804 [==============================] - 1s 904us/step - loss: 0.5533 - accuracy: 0.7292
Epoch 32/100
804/804 [==============================] - 1s 925us/step - loss: 0.5530 - accuracy: 0.7291
Epoch 33/100
804/804 [==============================] - 1s 924us/step - loss: 0.5531 - accuracy: 0.7292
Epoch 34/100
804/804 [==============================] - 1s 954us/step - loss: 0.5529 - accuracy: 0.7291
Epoch 35/100
804/804 [==============================] - 1s 959us/step - loss: 0.5529 - accuracy: 0.7293
Epoch 36/100
804/804 [==============================] - 1s 914us/step - loss: 0.5530 - accuracy: 0.7292
Epoch 37/100
804/804 [==============================] - 1s 927us/step - loss: 0.5528 - accuracy: 0.7298
Epoch 38/100
804/804 [==============================] - 1s 923us/step - loss: 0.5527 - accuracy: 0.7296
Epoch 39/100
804/804 [==============================] - 1s 933us/step - loss: 0.5528 - accuracy: 0.7294
Epoch 40/100
804/804 [==============================] - 1s 956us/step - loss: 0.5527 - accuracy: 0.7289
Epoch 41/100
804/804 [==============================] - 1s 956us/step - loss: 0.5527 - accuracy: 0.7297
Epoch 42/100
804/804 [==============================] - 1s 933us/step - loss: 0.5526 - accuracy: 0.7296
Epoch 43/100
804/804 [==============================] - 1s 936us/step - loss: 0.5524 - accuracy: 0.7297
Epoch 44/100
804/804 [==============================] - 1s 944us/step - loss: 0.5525 - accuracy: 0.7298
Epoch 45/100
804/804 [==============================] - 1s 938us/step - loss: 0.5526 - accuracy: 0.7295
Epoch 46/100
804/804 [==============================] - 1s 935us/step - loss: 0.5527 - accuracy: 0.7296
Epoch 47/100
804/804 [==============================] - 1s 940us/step - loss: 0.5525 - accuracy: 0.7286
Epoch 48/100
804/804 [==============================] - 1s 933us/step - loss: 0.5527 - accuracy: 0.7296
Epoch 49/100
804/804 [==============================] - 1s 941us/step - loss: 0.5528 - accuracy: 0.7289
Epoch 50/100
804/804 [==============================] - 1s 945us/step - loss: 0.5523 - accuracy: 0.7293
Epoch 51/100
804/804 [==============================] - 1s 979us/step - loss: 0.5526 - accuracy: 0.7296
Epoch 52/100
804/804 [==============================] - 1s 905us/step - loss: 0.5525 - accuracy: 0.7291
Epoch 53/100
804/804 [==============================] - 1s 914us/step - loss: 0.5524 - accuracy: 0.7294
Epoch 54/100
804/804 [==============================] - 1s 928us/step - loss: 0.5524 - accuracy: 0.7294
Epoch 55/100
804/804 [==============================] - 1s 976us/step - loss: 0.5524 - accuracy: 0.7297
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5525 - accuracy: 0.7291
Epoch 57/100
804/804 [==============================] - 1s 897us/step - loss: 0.5525 - accuracy: 0.7297
Epoch 58/100
804/804 [==============================] - 1s 902us/step - loss: 0.5524 - accuracy: 0.7297
Epoch 59/100
804/804 [==============================] - 1s 930us/step - loss: 0.5523 - accuracy: 0.7294
Epoch 60/100
804/804 [==============================] - 1s 934us/step - loss: 0.5523 - accuracy: 0.7295
Epoch 61/100
804/804 [==============================] - 1s 907us/step - loss: 0.5521 - accuracy: 0.7302
Epoch 62/100
804/804 [==============================] - 1s 917us/step - loss: 0.5523 - accuracy: 0.7294
Epoch 63/100
804/804 [==============================] - 1s 925us/step - loss: 0.5521 - accuracy: 0.7286
Epoch 64/100
804/804 [==============================] - 1s 929us/step - loss: 0.5522 - accuracy: 0.7292
Epoch 65/100
804/804 [==============================] - 1s 925us/step - loss: 0.5521 - accuracy: 0.7291
Epoch 66/100
804/804 [==============================] - 1s 934us/step - loss: 0.5519 - accuracy: 0.7302
Epoch 67/100
804/804 [==============================] - 1s 946us/step - loss: 0.5522 - accuracy: 0.7296
Epoch 68/100
804/804 [==============================] - 1s 940us/step - loss: 0.5520 - accuracy: 0.7294
Epoch 69/100
804/804 [==============================] - 1s 928us/step - loss: 0.5521 - accuracy: 0.7301
Epoch 70/100
804/804 [==============================] - 1s 924us/step - loss: 0.5521 - accuracy: 0.7294
Epoch 71/100
804/804 [==============================] - 1s 927us/step - loss: 0.5519 - accuracy: 0.7296
Epoch 72/100
804/804 [==============================] - 1s 975us/step - loss: 0.5521 - accuracy: 0.7297
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5520 - accuracy: 0.7296
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5521 - accuracy: 0.7302
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5520 - accuracy: 0.7291
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5518 - accuracy: 0.7293
Epoch 77/100
804/804 [==============================] - 1s 902us/step - loss: 0.5520 - accuracy: 0.7296
Epoch 78/100
804/804 [==============================] - 1s 898us/step - loss: 0.5519 - accuracy: 0.7297
Epoch 79/100
804/804 [==============================] - 1s 967us/step - loss: 0.5517 - accuracy: 0.7287
Epoch 80/100

804/804 [==============================] - 1s 922us/step - loss: 0.5512 - accuracy: 0.7292
Epoch 81/100
804/804 [==============================] - 1s 907us/step - loss: 0.5509 - accuracy: 0.72960s - loss: 0.5498
Epoch 82/100
804/804 [==============================] - 1s 918us/step - loss: 0.5512 - accuracy: 0.7289
Epoch 83/100
804/804 [==============================] - 1s 905us/step - loss: 0.5510 - accuracy: 0.7285
Epoch 84/100
804/804 [==============================] - 1s 928us/step - loss: 0.5508 - accuracy: 0.7287
Epoch 85/100
804/804 [==============================] - 1s 973us/step - loss: 0.5511 - accuracy: 0.7290
Epoch 86/100
804/804 [==============================] - 1s 958us/step - loss: 0.5509 - accuracy: 0.7288
Epoch 87/100
804/804 [==============================] - 1s 927us/step - loss: 0.5509 - accuracy: 0.7283
Epoch 88/100
804/804 [==============================] - 1s 898us/step - loss: 0.5509 - accuracy: 0.7291
Epoch 89/100
804/804 [==============================] - 1s 900us/step - loss: 0.5511 - accuracy: 0.7294
Epoch 90/100
804/804 [==============================] - 1s 919us/step - loss: 0.5506 - accuracy: 0.7294
Epoch 91/100
804/804 [==============================] - 1s 902us/step - loss: 0.5509 - accuracy: 0.7289
Epoch 92/100
804/804 [==============================] - 1s 902us/step - loss: 0.5507 - accuracy: 0.7291
Epoch 93/100
804/804 [==============================] - 1s 894us/step - loss: 0.5508 - accuracy: 0.7297
Epoch 94/100
804/804 [==============================] - 1s 904us/step - loss: 0.5507 - accuracy: 0.7286
Epoch 95/100
804/804 [==============================] - 1s 914us/step - loss: 0.5507 - accuracy: 0.7295
Epoch 96/100
804/804 [==============================] - 1s 892us/step - loss: 0.5507 - accuracy: 0.7285
Epoch 97/100
804/804 [==============================] - 1s 956us/step - loss: 0.5506 - accuracy: 0.7285
Epoch 98/100
804/804 [==============================] - 1s 955us/step - loss: 0.5508 - accuracy: 0.7287
Epoch 99/100
804/804 [==============================] - 1s 873us/step - loss: 0.5507 - accuracy: 0.7295
Epoch 100/100
804/804 [==============================] - 1s 890us/step - loss: 0.5505 - accuracy: 0.7303

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 [==============================] - 0s 720us/step - loss: 0.5569 - accuracy: 0.7231
Loss: 0.5568570494651794, Accuracy: 0.7231487035751343

In [16]:
# Export our model to HDF5 file
nn_model.save_weights("AlphabetSoupCharity.h5");